@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CascadiaCode';
  src: url(/assets/fonts/CascadiaCode.ttf);
  display: swap;
}

* {
  font-family: 'CascadiaCode', monospace;
}

html,
body,
body>div:first-child,
div#__next,
div#__next>div {
  @apply h-full overflow-auto;
}

/* Example of using Tailwind's responsive utilities */
@media (max-width: 640px) {
  body {
    @apply text-sm;
    /* Smaller text size on small screens */
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

a {
  @apply underline;
}